.payment-input{
    position: relative;
    height: 60px;
    background-color: rgba(34, 47, 124, 0.6);
    border: 2px solid #3249D0;
    border-radius: 10px;
    margin: 0;
    transition: all .3s ease;
}
.payment-input-text{
    position: relative;
    width: calc(100% - 30px);
    height: 60px;
    background: transparent;
    border: 0;
    transition: all .3s ease;
    padding: 0 24px;
    font-size: 20px;
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 700;
    color: #E9E9EB;
    word-wrap: break-word;
    z-index: 10;
}
.payment-input-text:focus, .payment-input-text:valid{
    outline: none;
    padding-top: 14px;
}

.payment-input:focus-within{
    border-color: #4963FF;
}

.payment-input-label{
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 17px;
    left: 24px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat-Black", sans-serif;
    color: #9EA3C1;
    transition: all .3s ease
}
.payment-input-text:focus + .payment-input-label,
.payment-input-text:valid + .payment-input-label{
    font-size: 14px;
    top: 5px
}

.payment-input-info-icon{
    height: 25px;
    width: 25px;
    position: absolute;
    right: 15px;
    top: 16px;
    background: #9EA3C1;
    z-index: 20;
    cursor: help;
    transition: all .2s  ease
}

.payment-input-error{
    top: 3px;
    position: relative;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    color: #E14D63;
}

.payment-error.payment-input {
    border-color: #E14D63;
}
.payment-error .payment-input-info-icon{
    background: #E14D63;
}