
.section-rec-ticker {
    width: 100%;
    overflow: hidden;
    position: static;
}

.section-rec-ticker .scroll {
    width: 100%;
    display: flex;
}

.section-rec-ticker .scroll > .group-tick-items {
    animation: animate 250s linear infinite;
    animation-delay: 0s;
    display: flex;
    flex-direction: row;
    gap: 23px;
    align-items: center;
}


@keyframes animate {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}



@media (max-width: 851px) {
    .section-rec-ticker .scroll > .group-tick-items{
        gap: 20px;
    }

}