
.section-ticker {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    background: white;
}

.section-ticker .scroll {
    width: 100%;
    display: flex;
}

.scroll-item {
    height: 46px;
    background: #fff;
    white-space: nowrap;
    animation: animate-ticker 60s linear infinite;
    animation-delay: 0s;
    color: #0c264c;
    text-align: left;
    font-family: "Montserrat-BlackItalic", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 17px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.scroll-item > div{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

@keyframes animate-ticker {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


@media (max-width: 851px) {
    .scroll-item {
        height: 30px;
        gap: 8px;
        font-size: 12px;
        line-height: 9px;
    }
    .scroll-item > div{
        gap: 8px;
    }

    .scroll-item-icon{
        width: 20px;
        height: 20px;
    }

}
