
.question-block-title {
    text-align: left;
    font-family: "Montserrat-Black", sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    margin-bottom: 40px;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #e9e9eb;
    text-shadow: rgba(255, 255, 255, 0.3) 0 0 20px;
}

.questions-container{
    z-index: 2;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 1000px;
}

.question-block{
    padding: 0 10px;
    margin: 140px auto;
    max-width: 1176px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.line{
    max-width: 1180px;
    height: 0;
    border: 1px #E9E9EB solid
}


@media (max-width: 851px) {
    .question-block-title{
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 30px;
    }
    .question-block{
        margin: 70px 0;
    }

    .line{
        border: 1px rgba(233, 233, 235, 0.63) solid;
        margin: 0 30px;
    }

    .questions-container{
        z-index: 2;
        overflow: hidden;
        position: relative;
        width: 100%;
        min-height: 0;
        height: 750px;
    }
}